<h4><strong class="text-primary">搜索</strong> <input class="searchBar"  ng-model="query"/></h4>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title">
            <span class="title">爱阅读</span>
        </h6>
    </div>
    <div class="panel-body">
        <div>
            <form class="form-horizontal" role="form" ng-submit="addEntity()">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input id="title" type="text" class="form-control" placeholder="标题" ng-model="space.entityTitle" required="true"/>    
                        <textarea id="content" rows="4" class="form-control" placeholder="内容"  ng-model="space.entityContent" required="true"></textarea>                             
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success btn-sm">添加</button>  
                    </div>
                </div>
            </form>
        </div>
        <ul>
            <li ng-repeat="o in space.entities| filter:query ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <span class="title">
                                <a><strong>{{o.title}}</strong></a>                                    
                            </span>
                            <button type="button" class="btn btn-qq-topic btn-qq-topic-24 right" ng-click="shareToQQSpace(o.content)"></button>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <p>{{o.content}}</p>                    
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

