<h4><strong class="text-primary">搜索</strong> <input class="searchBar"  ng-model="query"/></h4>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title">
            <span class="title">爱阅读-《{{space.book.name}}》</span>
        </h6>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <span class="text-primary right">书名</span>
            </div>
            <div class="col-sm-4">
                <p>{{space.book.name}}</p>                        
            </div>  
            <div class="col-sm-2">
                <span class="text-primary right">作者</span>
            </div>
            <div class="col-sm-4">
                <p>{{space.book.author}}</p>                       
            </div>    
        </div>
        <div class="row">
            <div class="col-sm-2">
                <span class="text-primary right">分类</span>
            </div>
            <div class="col-sm-4">
                <p>{{space.book.catelog}}</p>                
            </div>
            <div class="col-sm-2">
                <span class="text-primary right">ISBN</span>
            </div>
            <div class="col-sm-4">
                <p>{{space.book.isbn}}</p>                                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <span class="text-primary right">摘要</span>
            </div>
            <div class="col-sm-10">
                <p>{{space.book.evaluate}}</p>  
            </div>
        </div>
    </div>
    <ul>
        <li ng-repeat="c in space.book.chapters| filter:query ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="title">
                            <a><strong>{{c.title}}</strong></a>                                    
                        </span>
                        <button type="button" class="btn btn-qq-topic btn-qq-topic-24 right" ng-click="shareToQQSpace(c.name)"></button>
                    </h6>
                </div>
                <div class="panel-body">
                    <p>{{c.content}}</p>                    
                </div>
            </div>
        </li>
    </ul>
</div>


