<h4><strong class="text-primary">搜索</strong> <input class="searchBar"  ng-model="query"/></h4>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title">
            <span class="title">爱点滴</span>
        </h6>
    </div>
    <div class="panel-body">
        <div>
            <form class="form-horizontal" role="form" ng-submit="addKnowledge()">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input id="title" type="text" class="form-control" placeholder="标题" ng-model="space.knowledgeTitle" required="true"/>    
                        <textarea id="content" rows="4" class="form-control" placeholder="内容"  ng-model="space.knowledgeContent" required="true"></textarea>                             
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success btn-sm">添加</button>  
                    </div>
                </div>
            </form>
        </div>
        <ul>
            <li ng-repeat="k in space.knowledges| filter:query ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <span class="title">
                                <a><strong>{{k.title}}</strong></a>                                    
                            </span>
                            <button type="button" class="btn btn-qq-topic btn-qq-topic-24 right" ng-click="shareToQQSpace(k.content)"></button>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <p>{{k.content}}</p>                    
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>           
<ul>
    <li ng-repeat="item in books.detail| filter:query">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <span class="title">
                        <a><strong>{{item.name}}</strong></a>                                    
                    </span>
                    <button type="button" class="btn btn-primary btn-xs right">添加</button>
                    <!--<span class="content-rank-stars content-stars-{{item.id}}"></span>-->
                </h6>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="content in item.contents">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    {{content.title}}
                                </h6>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>{{content.content}}</p>                    
                            <p><span class="title">ISBN:</span>{{content.ISBN}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
