<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8 left"> 
            <h4><strong class="text-primary">搜索</strong> <input class="searchBar"  ng-model="query"/></h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        <span class="title">知识点</span>
                    </h6>
                </div>
                <div class="panel-body">
                    <div>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input id="title" type="text" class="form-control" placeholder="标题" ng-model="space.knowledgeTitle" required="true"/>    
                                    <textarea id="content" rows="4" class="form-control" placeholder="内容"  ng-model="space.knowledgeContent" required="true"></textarea>                             
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="addKnowledge()" ng-disabled="!authorized">添加</button>  
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul>
                        <li ng-repeat="k in knowledges| filter:query ">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <span class="title">
                                            <a><strong>{{k.title}}</strong></a>                                    
                                        </span>
                                    </h6>
                                </div>
                                <div class="panel-body">
                                    <p>{{k.content}}</p>                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 right"> 
            <div class="nav  nav-pills">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" 
                            data-target="#nav-detail">
                        <span class="sr-only">快速导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand cartLogo"></a>-->     
                    <a class="navbar-brand" href="#/cart/{{space.id}}"><span class="badge"></span></a>
                </div>
                <div id ="nav-detail" class="navbar-toggle">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a>Home</a></li>
                        <li>                                 
                            <a href="#/book/{{openId}}">我要阅读</a>                      
                        </li>
                        <li>                                 
                            <a href="#/book/{{openId}}">我要看书</a>                         
                        </li>
                        <li>                           
                            <a>自助服务</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>
