<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-7 left"> 
            <div class="row">
                <div class="col-md-4 panel-title">
                    <h4>             
                        <span class="title text-primary">
                            <strong>{{user.username}}</strong>                                
                        </span>                  
                    </h4>
                    <h6>                      
                        <span><strong>年级:{{user.grade}}</strong></span><small>班级:{{user.class}}</small>
                        <span class="content-rank-stars content-stars-{{user.level}}"></span>
                    </h6>
                    <h6>
                        学校：{{user.school}}
                    </h6>
                </div>

                <div class="col-md-8">
                    <h4><strong class="text-primary">搜索 </strong><input class="searchBar"  ng-model="query"/></h4>
                </div>
            </div>           
            <ul>
                <li ng-repeat="book in space.books| filter:query ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <span class="title">
                                    <a><strong>{{book.name}}</strong></a>                                    
                                </span>
                                <span class="title">
                                    <a><strong>{{book.author}}</strong></a>                                    
                                </span>
                                <span class="content-rank-stars content-stars-{{book.hot}}"></span>
                            </h6>
                        </div>
                        <div class="panel-body">
                            <p><span class="title">读后感:</span><strong>{{book.remark}}</strong></p>                    
                            <h4><a href="#/book/{{user.id}}" class="cart-go label label-primary">继续读</a></h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 right"> 
            <div class="nav  nav-pills">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" 
                            data-target="#cart-detail">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand cartLogo"></a>     
                    <a class="navbar-brand" href="#/cart/{{space.id}}">我的计划<span class="badge"></span></a>
                </div>
                <div id ="cart-detail" class="navbar-toggle">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><button type="button" class="btn  btn-xs cart-clear" ng-disabled="isCartEmpty()" ng-click="clearCart()">重新点</button><a>菜单明细</a></li>
                        <li class="active">                                 
                            <h4><a href="#/book/{{user.id}}" class="label label-primary">我要阅读</a></h4>                      
                        </li>
                        <li>                                 
                            <h4><a href="#/book/{{user.id}}" class="label label-primary">我要看书</a></h4>                            
                        </li>
                        <li class="active">
                            <button type="button" class="btn btn-success btn-xs cart-submit" ng-disabled="isCartEmpty()" ng-click="submitCart()">快送来</button>
                            <a>共{{totalAmts| currency}}元</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>
